@{
    ViewData["Title"] = "Gratidão!! ";
}
<h1>@ViewData["Title"]</h1>

<p>Desde já agradeço a atenção dispensada, </p>
<p>
    Estou muito empolgado com essa oprtunidade
    e com chance de contribuir e aprender com a equipe NextSoft.
</p>
